<ion-header [translucent]="true">
  <ion-toolbar color="primary" >  
    <ion-title class="ion-text-center">
      Add a Course
    </ion-title>  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="../home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- On a 2types de forum: ractive forms et template-driven forms 
template-driven forms: Tous ce fait partie html just le click sur le bouton submit se fait partie .ts => les champs sont Statique
reactive forms: le formulaire va étre programmée tous ce fait coté .ts w mbaad norobtou bel html => les champs ne sont
pas Statique kima ajout des skills kol wehed w aandou nombre mou3ayen mta3 skills donc aandi icon ajout
kol ma nheb nzid nenzel aaleha. -->
<!-- les 2 yasen3ou un fichier js
el formulaire yemshi l serveur (normalement) nahna fel cas mte3na el formulaire yasna3 un objet  -->
<!-- cree une reference #f stockit feha el formulaire =< referencer des elements html -->
<ion-content [fullscreen]="true">
  <!-- "ngForm"  => template driven form:c'est un objet de type driven-forms (tasna3 un objet javascript) -->
  <form class="ion-margin" #f="ngForm">
   
      <ion-label position="floating" >Title </ion-label>
      <!-- name est essentielle dans angular et ngModel:qotlou el value mta3 el input aqralha hsebha : prend en considération 
      etheka aalesh nzidou e nom du propriété prop:(name) w el value:(ngModel) (ngModel et name yemshou m3a b3athhom 
      ken ma thotel name keyenha n'existe pas) -->

      <!-- on a des classes css cree par ngModels applique sur le formulaire el kol w les composants du formulaire
      dima 3ana 3 ng_invalid:3andi des validateurs prédéfinie fel 
      template_driven_froms kima required et email.. ki nekteb fel input w nekteb email ywali ng_valid
      ng_pristine:n'est pas modifier ki nenzel twali ng_derty ng_untouched:ki nenzel twali ng_touched -->

      <!-- on a aussi des prorpriété valid sans ng_ invalid touched untouched derty pristine..  -->

      <ion-input #inpTitle="ngModel" minlength="5" ngModel name="title"  type="text"> </ion-input> 
      <div *ngIf="inpTitle.invalid" class="alert alert-danger"> Le titre > 5 </div>
    
      
      <ion-label position="floating" >Author </ion-label>
      <ion-input ngModel name="author"  type="text"> </ion-input> 
   

      <ion-label position="floating" >Image </ion-label>
      <ion-input ngModel name="image"  type="url" > </ion-input> 
   
      <ion-label position="floating" >KeyWords </ion-label>
      <ion-input ngModel name="keyword"  type="text"> </ion-input> 

    <!-- f.value: hachty bel valeur mta3 el formulaire  -->
    <!-- ngFor temshi ken aala les type itérative matemchich aala string  -->

  <ion-button (click)="onSubmit(f.value)" class="ion-margin-" expand="block"> Add  <ion-icon name="checkmark-outline">
  </ion-icon>
</ion-button>
<!-- <pre>
  {{ f.value | json}}
</pre> -->
</form>


</ion-content>
