<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons> just un contenaire pour placer les éléments
      el icone tekhou mméém hauteur mta3 e texte 
    3eme propriété de l'icone f slot icon-only -->
    <ion-buttons slot="end" >  
        <ion-icon slot="icon-only" (click)="presentAlert()" name="trash-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong>Detail of this course: </strong>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
         <ion-img [src]="SelectedCourse.image"></ion-img>
         <ion-label>{{SelectedCourse.title}} By {{SelectedCourse.author}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
 <strong>Content of this course : </strong>
 <ion-list>
  <ion-item *ngFor="let keyword of SelectedCourse.keyword">
    <ion-label>{{keyword}}</ion-label>
  </ion-item>
 </ion-list>
</ion-content>
